*{
    margin: 0;
    padding:0;
    box-sizing: border-box;   
}
body{   
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to bottom, purple,purple 100%) ;
    background-size: cover;
    background-repeat: no-repeat;   
    width: 100%;
    height: 100vh;
}
header{
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
    border-radius: 10px;
    background-color: black;
}
header p{
    color: white;
    font-size: 29px;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul li{
    color: white;
    font-size: 20px;
}
